input, select, button {
    margin: 10px 0;
    padding: 10px;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    width: auto;
}

button:hover {
    background-color: #555;
}